/*
    Homework 4 Javier Ventura Crystal Collector Game
*/

@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    background-image: url("../images/gravel.png");
}

#headerLogo {
    font-family: 'Pacifico', cursive;
}

.mainCont {
    background-color: #ffffff;
}

.teal {
    color: #4aaaa5;
}
